body {background-color: rgb(43, 115, 209);}
h3 {color: yellow;}
button {color: white}
a {color: yellow;}
h1 {color: white;}
h4 {color:black}
h2 {color: #ff5e00;}
p {color: white;}
button {background-color: red;}

